body{
    padding:0;
    margin:0;

  }
.sky{
    width: 100vw;
    height:280px;
    position:relative;
    padding:0;
    margin:0;
}
.grass{
    width: 100vw;
    height:calc(100vh - 280px);
    position:relative;
    padding:0;
    margin:0;
}

.sun{
    width: 100px;
    height: 100px;
    border-radius:50px;
    position:absolute;
    left:10px;
    top:10px;
}

/* flower style */
.flower{
    padding:0;
    margin:0;
    position:absolute;
}
.petal{
    padding:0;
    margin:0;
    position:absolute;
    border-style:solid;
}

/* weather style */
/* FULL SCREEN RAIN */
.rain-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

.raindrop {
  position: absolute;
  top: -20px;
  width: 2px;
  height: 25px;
  background: rgba(120, 180, 255, 0.9);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.cloud {
  position: absolute;
  background: #fff;
  border-radius: 50px;
  opacity: 0.8;
}


