html, body {
  background:rgb(0, 0, 0);
    margin:0;
    padding:0;
    color:white;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  gap: 8px;
  padding: 20px;
}

/* each text cell */
.cell {
  color: rgba(255,255,255,0.3);
  font-size: 18px;
  transition: 
    transform 0.4s ease,
    color 0.4s ease,
    opacity 0.4s ease;
  user-select: none;
}

/* activated on hover */
.cell.active {
  color: white;
  transform: scale(1.6);
  opacity: 1;
}
